Repository UK-Export-Finance/dtfs2, pull requests merged in 2022-08, with the labels that each got.

#1101 fix(DTFS2-5938) - Facility premium schedule + exposure date re-calculated
  portal/server/routes/contract/bond/index.js
  trade-finance-manager-api/src/v1/controllers/deal.submit.controller.js
  trade-finance-manager-api/src/v1/controllers/update-issued-facilities.js
Labels: Type: Bug, Type: Fix

#1108 fix(DTFS2-5888): BSS Task email bug fix
  trade-finance-manager-api/src/v1/helpers/amendment.helpers.api-test.js
  trade-finance-manager-api/src/v1/helpers/amendment.helpers.js
Labels: Type: Bug, Type: Amendments

#1109 fix(DTFS2-5935): Amendment UW decision time format
  e2e-tests/e2e-fixtures/dateConstants.js
  e2e-tests/trade-finance-manager/cypress/integration/journeys/case/amendments/add-underwriter-decision.spec.js
  trade-finance-manager-ui/server/controllers/case/index.js
  trade-finance-manager-ui/server/controllers/case/underwriting/index.js
Labels: Type: Bug, Type: Amendments

#1102 fix(DTFS2-5943): sanitise the `reasons`, `conditions` and `comments` input for amendments
  e2e-tests/trade-finance-manager/cypress/integration/journeys/case/amendments/add-underwriter-decision.spec.js
  trade-finance-manager-ui/package-lock.json
  trade-finance-manager-ui/package.json
  trade-finance-manager-ui/server/controllers/case/amendments/managersConditionsAndComments.controller.js
Labels: Type: Amendments

#1111 fix(DTFS2-5964) : Deal expiry date set to 2050-12-31
  azure-functions/acbs-function/constants/deal.js
  azure-functions/acbs-function/mappings/deal/deal-investor.js
Labels: Type: Bug, Type: ACBS, Type: Fix

#1112 feat(DTFS2-5965) : TFM API field support
  dtfs-central-api/api-tests/v1/tfm/deal/tfm-deals-get-query-field.api-test.js
  dtfs-central-api/src/v1/controllers/tfm/deal/tfm-get-deals-date-helpers.js
Labels: Type: Feature, Type: Fix

#1110 feat(DTFS2-5948): Update tfm-deals lastUpdated on amendment completion
  docker-compose.gha.yml
  reference-data-proxy/src/v1/controllers/email.controller.ts
  reference-data-proxy/src/v1/controllers/exposure-period.controller.ts
  reference-data-proxy/src/v1/controllers/premium-schedule.controller.ts
  trade-finance-manager-api/api-tests/v1/amendments/update-tfm-deal-amendment-completion.api-test.js
  trade-finance-manager-api/api-tests/v1/utils/updateFacilityAmendment.util.js
  trade-finance-manager-api/src/constants/deals.js
  trade-finance-manager-api/src/graphql/helpers/amendment.helpers.js
  trade-finance-manager-api/src/v1/api.js
  trade-finance-manager-api/src/v1/controllers/amendment.controller.js
  trade-finance-manager-api/src/v1/controllers/feedback-controller.js
  trade-finance-manager-api/src/v1/controllers/get-facility-exposure-period.js
  trade-finance-manager-api/src/v1/controllers/send-deal-decision-email.js
  trade-finance-manager-api/src/v1/controllers/send-deal-submit-emails.js
  trade-finance-manager-api/src/v1/controllers/send-issued-facilities-received-email.js
  trade-finance-manager-api/src/v1/controllers/task-emails.js
  trade-finance-manager-api/src/v1/controllers/update-facilities.js
  trade-finance-manager-api/src/v1/controllers/update-issued-facilities.js
  trade-finance-manager-api/src/v1/helpers/amendment.helpers.js
  trade-finance-manager-ui/server/controllers/case/amendments/amendmentAnswers.controller.js
  trade-finance-manager-ui/server/controllers/case/amendments/bankDecision.controller.js
Labels: Type: Feature, Type: Amendments

#1113 fix(DTFS2-5962): amendment 2 is used twice and the latest one is not at the top
  dtfs-central-api/src/v1/controllers/tfm/amendments/tfm-get-amendments.controller.js
  dtfs-central-api/src/v1/controllers/tfm/amendments/tfm-post-amendments.controller.js
  e2e-tests/trade-finance-manager/cypress/integration/journeys/case/amendments/amendments-version-order.spec.js
  trade-finance-manager-api/src/graphql/reducers/mappings/facilities/mapUkefExposure.js
  trade-finance-manager-ui/package-lock.json
Labels: Type: Bug, Type: Amendments

#1117 fix(DTFS2-5968): Added eligibility criteria versions to e2e tests for portal
  e2e-tests/portal/cypress/fixtures/deal-dashboard-data.js
  e2e-tests/portal/cypress/fixtures/deal.js
  e2e-tests/portal/cypress/integration/journeys/checker/cannot-submit-a-deal-with-newly-issued-facilities-that-have-cover-start-dates-before-min-submission-date/deal.js
  e2e-tests/portal/cypress/integration/journeys/checker/currency-conversion-date/deal-first-submission.js
  e2e-tests/portal/cypress/integration/journeys/checker/issued-specs-new/MIA-deal-with-unissued-facilities.js
  e2e-tests/portal/cypress/integration/journeys/checker/issued-specs-new/submit-MIN-deal-with-issued-facility/MIN-deal-accepted-status-with-unissued-facilities.js
  e2e-tests/portal/cypress/integration/journeys/checker/return-a-deal-to-maker/dealWithSomeIssuedFacilitiesReadyForReview.js
  e2e-tests/portal/cypress/integration/journeys/checker/submit-a-deal/test-data/template.json
  e2e-tests/portal/cypress/integration/journeys/maker/about-supply-contract/dealWithFirstPageComplete.json
  e2e-tests/portal/cypress/integration/journeys/maker/about-supply-contract/dealWithSecondPageComplete.json
  e2e-tests/portal/cypress/integration/journeys/maker/fixtures/dealFullyCompleted.js
  e2e-tests/portal/cypress/integration/journeys/maker/submit-a-deal-for-review-with-issued-and-unissued-facilities-and-resubmit-after-checker-returns/dealReadyToSubmitToChecker.js
  e2e-tests/portal/cypress/integration/journeys/maker/submit-a-deal-for-review/dealThatJustNeedsConversionDate.json
  e2e-tests/portal/cypress/integration/journeys/maker/submit-a-deal-for-review/dealWithIncompleteAbout.json
  e2e-tests/portal/cypress/integration/journeys/maker/submit-a-deal-for-review/dealWithIncompleteBonds.json
  e2e-tests/portal/cypress/integration/journeys/maker/submit-a-deal-for-review/dealWithIncompleteEligibility.json
  e2e-tests/portal/cypress/integration/journeys/maker/submit-a-deal-for-review/dealWithIncompleteLoans.json
  e2e-tests/portal/cypress/integration/journeys/maker/submit-issued-facilities-for-review/dealWithNotStartedFacilityStatuses.js
  e2e-tests/portal/cypress/integration/journeys/maker/submit-issued-facilities-for-review/submit-MIN-deal-with-issued-facilities-for-review-without-cover-start-dates/MINDealWithNotStartedFacilityStatuses.js
  e2e-tests/portal/cypress/integration/journeys/number-generator/test-data/MIA-deal-ready-to-submit-with-already-submitted-issued-facilities.js
  e2e-tests/submit-to-trade-finance-manager/cypress/integration/journeys/portal/submit-deal-with-issued-facilities/test-data/dealThatJustNeedsDates.json
  e2e-tests/submit-to-trade-finance-manager/cypress/integration/journeys/portal/submit-deal-with-non-gbp-facilities/test-data/dealThatJustNeedsDates.json
  e2e-tests/submit-to-trade-finance-manager/cypress/integration/journeys/portal/test-data/AIN-deal/dealThatJustNeedsDates.json
  e2e-tests/submit-to-trade-finance-manager/cypress/integration/journeys/portal/test-data/MIA-deal/dealThatJustNeedsDates.json
  e2e-tests/submit-to-trade-finance-manager/cypress/integration/journeys/portal/test-data/MIN-deal-unissued-facilities/dealThatJustNeedsDates.json
  e2e-tests/submit-to-trade-finance-manager/cypress/integration/journeys/portal/test-data/MIN-deal/dealThatJustNeedsDates.json
  utils/mock-data-loader/bss/eligibilityCriteria.js
Labels: Type: Bug

#1116 fix(DTFS2-5966): Amendment facility time value fix
  e2e-tests/e2e-fixtures/dateConstants.js
  e2e-tests/portal/cypress/integration/journeys/maker/facilities/maker-cannot-edit-issued-facilities-after-submit-to-ukef/deal-multiple-facility-types-ready-to-submit-to-ukef.js
  e2e-tests/trade-finance-manager/cypress/integration/journeys/case/amendments/7. amendment-details-automatic-approval.spec.js
  e2e-tests/trade-finance-manager/cypress/integration/journeys/case/amendments/add-bank-decision-proceed.spec.js
  trade-finance-manager-api/src/graphql/reducers/mappings/facilities/mapUkefExposure.js
Labels: Type: Bug, Type: Amendments

#1118 feat(DTFS2-5945): Amendment change leadUnderwriterId to leadUnderwriter object
  trade-finance-manager-ui/server/controllers/case/amendments/leadUnderwriter.controller.js
  trade-finance-manager-ui/server/controllers/case/amendments/leadUnderwriter.test.js
  trade-finance-manager-ui/server/test-mocks/amendment-test-mocks.js
Labels: Type: Amendments

#1120 feat(HEL-184): send MIA acknowledgements and approval confirmations to PIM
  trade-finance-manager-api/api-tests/v1/deals/deals-update-underwriter-managers-decision.api-test.js
  trade-finance-manager-api/src/v1/controllers/send-deal-decision-email.js
  trade-finance-manager-api/src/v1/controllers/send-deal-submit-emails-gef.api-test.js
  trade-finance-manager-api/src/v1/controllers/send-deal-submit-emails.js
Labels: Type: Feature

#1119 fix(DTFS2-5963): Amendments details reverting when multiple single amendment changes
  dtfs-central-api/src/constants/amendments.constant.js
  dtfs-central-api/src/v1/controllers/tfm/amendments/tfm-get-amendments.controller.js
  dtfs-central-api/src/v1/routes/tfm-routes.js
  e2e-tests/trade-finance-manager/cypress/integration/journeys/case/amendments/add-amendment-request-check-previous.spec.js
  e2e-tests/trade-finance-manager/cypress/integration/journeys/case/amendments/amendment-changes-multiple-single-amendments.spec.js
  trade-finance-manager-api/graphql-query-tests/get-deal.api-test.js
  trade-finance-manager-api/graphql-query-tests/get-facility.api-test.js
  trade-finance-manager-api/graphql-query-tests/graphql-authentication.api-test.js
  trade-finance-manager-api/graphql-query-tests/mutation-update-underwriting-managers-decision.api-test.js
  trade-finance-manager-api/src/graphql/helpers/amendment.helpers.api-test.js
  trade-finance-manager-api/src/graphql/helpers/amendment.helpers.js
  trade-finance-manager-api/src/graphql/reducers/deal-with-amendment-bss.api-test.js
  trade-finance-manager-api/src/graphql/reducers/deal-with-amendment-gef.api-test.js
  trade-finance-manager-api/src/graphql/reducers/deal.api-test.js
  trade-finance-manager-api/src/graphql/reducers/deals.api-test.js
  trade-finance-manager-api/src/graphql/reducers/facility.api-test.js
  trade-finance-manager-api/src/graphql/reducers/mappings/deal/mapDealSnapshot.api-test.js
  trade-finance-manager-api/src/graphql/reducers/mappings/deal/mapTotals.api-test.js
  trade-finance-manager-api/src/graphql/reducers/mappings/deal/mapTotals.js
  trade-finance-manager-api/src/graphql/reducers/mappings/facilities/mapCoverEndDate.api-test.js
  trade-finance-manager-api/src/graphql/reducers/mappings/facilities/mapCoverEndDate.js
  trade-finance-manager-api/src/graphql/reducers/mappings/facilities/mapDates.api-test.js
  trade-finance-manager-api/src/graphql/reducers/mappings/facilities/mapFacilities.api-test.js
  trade-finance-manager-api/src/graphql/reducers/mappings/facilities/mapFacility.api-test.js
  trade-finance-manager-api/src/graphql/reducers/mappings/facilities/mapFacilityValue.api-test.js
  trade-finance-manager-api/src/graphql/reducers/mappings/facilities/mapFacilityValue.js
  trade-finance-manager-api/src/graphql/reducers/mappings/facilities/mapFacilityValueExportCurrency.js
  trade-finance-manager-api/src/graphql/reducers/mappings/facilities/mapFacilityValueExporterCurrency.api-test.js
  trade-finance-manager-api/src/graphql/reducers/mappings/facilities/mapTenor.api-test.js
  trade-finance-manager-api/src/graphql/reducers/mappings/facilities/mapTenor.js
  trade-finance-manager-api/src/graphql/reducers/mappings/facilities/mapUkefExposure.api-test.js
  trade-finance-manager-api/src/graphql/reducers/mappings/facilities/mapUkefExposure.js
  trade-finance-manager-api/src/graphql/reducers/mappings/facilities/mapUkefExposureValue.api-test.js
  trade-finance-manager-api/src/graphql/reducers/mappings/gef-deal/mapGefDeal.api-test.js
  trade-finance-manager-api/src/graphql/reducers/mappings/gef-deal/mapGefDealSnapshot.api-test.js
  trade-finance-manager-api/src/graphql/reducers/mappings/gef-facilities/mapGefFacilities.api-test.js
  trade-finance-manager-api/src/graphql/reducers/mappings/gef-facilities/mapGefFacility.api-test.js
  trade-finance-manager-api/src/graphql/reducers/mappings/gef-facilities/mapGefFacilityDates.api-test.js
  trade-finance-manager-api/src/v1/api.js
  trade-finance-manager-api/src/v1/controllers/amendment.controller.js
  trade-finance-manager-api/src/v1/routes.js
  trade-finance-manager-ui/server/api.js
  trade-finance-manager-ui/server/controllers/case/amendments/amendCoverEndDate.controller.js
  trade-finance-manager-ui/server/controllers/case/amendments/amendFacilityValue.controller.js
  trade-finance-manager-ui/server/controllers/helpers/amendments.helper.js
  trade-finance-manager-ui/server/controllers/helpers/amendments.helper.test.js
  trade-finance-manager-ui/server/controllers/helpers/index.js
Labels: Type: Bug, Type: Amendments

#1121 fix(DTFS2-5966): Amendment exposure value date set to effective date
  e2e-tests/trade-finance-manager/cypress/integration/journeys/case/amendments/add-bank-decision-proceed.spec.js
  e2e-tests/trade-finance-manager/cypress/integration/journeys/case/amendments/add-underwriter-decision.spec.js
  trade-finance-manager-api/src/graphql/reducers/mappings/facilities/mapUkefExposure.api-test.js
  trade-finance-manager-api/src/graphql/reducers/mappings/facilities/mapUkefExposure.js
Labels: Type: Bug, Type: Amendments

#1058 feat(DTFS2-4614): ACBS facility amendment
  azure-functions/acbs-function/.eslintrc.js
  azure-functions/acbs-function/.vscode/extensions.json
  azure-functions/acbs-function/acbs-amend-facility/function.json
  azure-functions/acbs-function/acbs-amend-facility/index.js
  azure-functions/acbs-function/activity-get-facility-master/index.js
  azure-functions/acbs-function/activity-get-loan-id/function.json
  azure-functions/acbs-function/activity-get-loan-id/index.js
  azure-functions/acbs-function/activity-update-facility-loan-amount/function.json
  azure-functions/acbs-function/activity-update-facility-loan-amount/index.js
  azure-functions/acbs-function/activity-update-facility-loan/function.json
  azure-functions/acbs-function/activity-update-facility-loan/index.js
  azure-functions/acbs-function/activity-update-facility-master/index.js
  azure-functions/acbs-function/api.js
  azure-functions/acbs-function/mappings/facility/facility-fee.js
  azure-functions/acbs-function/mappings/facility/facility-loan-amend.js
  azure-functions/acbs-function/mappings/facility/facility-loan.js
  azure-functions/acbs-function/mappings/facility/facility-master-amend.js
  azure-functions/acbs-function/mappings/facility/facility-master.js
  azure-functions/acbs-function/mappings/facility/facility-update.js
  azure-functions/acbs-function/mappings/facility/helpers/get-exposure-period.js
  azure-functions/acbs-function/mappings/facility/helpers/get-loan-amount-difference.js
  azure-functions/acbs-function/mappings/facility/helpers/get-maximum-liability.js
  azure-functions/acbs-function/mappings/facility/helpers/get-next-due-date.js
  azure-functions/acbs-function/mappings/facility/helpers/get-product-type-id.js
  azure-functions/acbs-function/mappings/facility/helpers/index.js
  azure-functions/acbs-function/mappings/facility/index.js
  azure-functions/acbs-function/package-lock.json
  azure-functions/acbs-function/package.json
  reference-data-proxy/src/constants/amendment.constant.ts
  reference-data-proxy/src/constants/index.ts
  reference-data-proxy/src/interfaces/amendment.interface.ts
  reference-data-proxy/src/interfaces/index.ts
  reference-data-proxy/src/utils/swagger-definitions/acbs.ts
  reference-data-proxy/src/v1/controllers/acbs.controller.ts
  reference-data-proxy/src/v1/routes/external-apis.route.ts
  trade-finance-manager-api/api-tests/v1/amendments/update-tfm-deal-amendment-completion.api-test.js
  trade-finance-manager-api/api-tests/v1/deals/deals-submit.second-submission.api-test.js
  trade-finance-manager-api/src/constants/amendments.js
  trade-finance-manager-api/src/constants/deals.js
  trade-finance-manager-api/src/v1/api.js
  trade-finance-manager-api/src/v1/controllers/acbs.controller.js
  trade-finance-manager-api/src/v1/controllers/amendment.controller.js
  trade-finance-manager-api/src/v1/controllers/tfm.controller.js
  trade-finance-manager-api/src/v1/helpers/amendment.helpers.js
  trade-finance-manager-ui/server/controllers/case/amendments/amendFacilityValue.controller.js
  trade-finance-manager-ui/server/controllers/case/amendments/amendmentAnswers.controller.js
  trade-finance-manager-ui/server/controllers/helpers/amendments.helper.js
Labels: Type: Feature, Status: In Progress, Type: ACBS

#1128 fix: Removed `/upload-test` from portal
  portal/server/index.js
  portal/server/upload-test.js
Labels: Type: Bug, Type: Chore

#1126 fix: Remove ambiguous function
  trade-finance-manager-api/src/v1/helpers/amendment.helpers.js
Labels: Type: Bug, Type: Fix

#1135 fix(DTFS2-ACBS-Bugs): Backward compatible script
  azure-functions/acbs-function/api.js
Labels: Type: ACBS, Type: Fix

#1133 feat(DTFS2-5990): Amendment completion remapping
  e2e-tests/trade-finance-manager/cypress/integration/journeys/case/amendments/add-underwriter-decision.spec.js
  trade-finance-manager-api/api-tests/v1/amendments/create-amendment-tfm-object-on-amendment-completion.api-test.js
  trade-finance-manager-api/src/graphql/helpers/amendment.helpers.api-test.js
  trade-finance-manager-api/src/graphql/helpers/amendment.helpers.js
  trade-finance-manager-api/src/graphql/reducers/deal-with-amendment-bss.api-test.js
  trade-finance-manager-api/src/graphql/reducers/deal-with-amendment-gef.api-test.js
  trade-finance-manager-api/src/graphql/reducers/deal.api-test.js
  trade-finance-manager-api/src/graphql/reducers/deal.js
  trade-finance-manager-api/src/graphql/reducers/deals.api-test.js
  trade-finance-manager-api/src/graphql/reducers/deals.js
  trade-finance-manager-api/src/graphql/reducers/facility.api-test.js
  trade-finance-manager-api/src/graphql/reducers/facility.js
  trade-finance-manager-api/src/graphql/reducers/mappings/deal/mapDealSnapshot.api-test.js
  trade-finance-manager-api/src/graphql/reducers/mappings/deal/mapDealSnapshot.js
  trade-finance-manager-api/src/graphql/reducers/mappings/deal/mapTotals.api-test.js
  trade-finance-manager-api/src/graphql/reducers/mappings/deal/mapTotals.js
  trade-finance-manager-api/src/graphql/reducers/mappings/facilities/mapCoverEndDate.api-test.js
  trade-finance-manager-api/src/graphql/reducers/mappings/facilities/mapCoverEndDate.js
  trade-finance-manager-api/src/graphql/reducers/mappings/facilities/mapDates.api-test.js
  trade-finance-manager-api/src/graphql/reducers/mappings/facilities/mapDates.js
  trade-finance-manager-api/src/graphql/reducers/mappings/facilities/mapFacilities.api-test.js
  trade-finance-manager-api/src/graphql/reducers/mappings/facilities/mapFacilities.js
  trade-finance-manager-api/src/graphql/reducers/mappings/facilities/mapFacility.api-test.js
  trade-finance-manager-api/src/graphql/reducers/mappings/facilities/mapFacility.js
  trade-finance-manager-api/src/graphql/reducers/mappings/facilities/mapFacilityTfm.api-test.js
  trade-finance-manager-api/src/graphql/reducers/mappings/facilities/mapFacilityTfm.js
  trade-finance-manager-api/src/graphql/reducers/mappings/facilities/mapFacilityValue.api-test.js
  trade-finance-manager-api/src/graphql/reducers/mappings/facilities/mapFacilityValue.js
  trade-finance-manager-api/src/graphql/reducers/mappings/facilities/mapFacilityValueExportCurrency.js
  trade-finance-manager-api/src/graphql/reducers/mappings/facilities/mapFacilityValueExporterCurrency.api-test.js
  trade-finance-manager-api/src/graphql/reducers/mappings/facilities/mapTenor.api-test.js
  trade-finance-manager-api/src/graphql/reducers/mappings/facilities/mapTenor.js
  trade-finance-manager-api/src/graphql/reducers/mappings/facilities/mapTenorDate.js
  trade-finance-manager-api/src/graphql/reducers/mappings/facilities/mapUkefExposure.api-test.js
  trade-finance-manager-api/src/graphql/reducers/mappings/facilities/mapUkefExposure.js
  trade-finance-manager-api/src/graphql/reducers/mappings/facilities/mapUkefExposureValue.api-test.js
  trade-finance-manager-api/src/graphql/reducers/mappings/facilities/mapUkefExposureValue.js
  trade-finance-manager-api/src/graphql/reducers/mappings/gef-deal/mapGefDeal.api-test.js
  trade-finance-manager-api/src/graphql/reducers/mappings/gef-deal/mapGefDeal.js
  trade-finance-manager-api/src/graphql/reducers/mappings/gef-deal/mapGefDealSnapshot.api-test.js
  trade-finance-manager-api/src/graphql/reducers/mappings/gef-deal/mapGefDealSnapshot.js
  trade-finance-manager-api/src/graphql/reducers/mappings/gef-facilities/mapGefFacilities.api-test.js
  trade-finance-manager-api/src/graphql/reducers/mappings/gef-facilities/mapGefFacilities.js
  trade-finance-manager-api/src/graphql/reducers/mappings/gef-facilities/mapGefFacility.api-test.js
  trade-finance-manager-api/src/graphql/reducers/mappings/gef-facilities/mapGefFacility.js
  trade-finance-manager-api/src/graphql/reducers/mappings/gef-facilities/mapGefFacilityDates.api-test.js
  trade-finance-manager-api/src/graphql/reducers/mappings/gef-facilities/mapGefFacilityDates.js
  trade-finance-manager-api/src/v1/__mocks__/mock-TFM-deal-AIN-submitted.js
  trade-finance-manager-api/src/v1/controllers/amendment.controller.js
  trade-finance-manager-api/src/v1/controllers/deal.controller.js
  trade-finance-manager-api/src/v1/controllers/deal.submit.controller.js
  trade-finance-manager-api/src/v1/helpers/amendment.helpers.api-test.js
  trade-finance-manager-api/src/v1/helpers/amendment.helpers.js
  trade-finance-manager-api/src/v1/helpers/dealTypeCoverStartDate.api-test.js
  trade-finance-manager-api/src/v1/helpers/dealTypeCoverStartDate.helper.js
  trade-finance-manager-api/src/v1/mappings/map-submitted-deal/index.js
  trade-finance-manager-api/src/v1/mappings/map-submitted-deal/map-gef-deal.js
  trade-finance-manager-ui/server/api.js
Labels: Type: Feature, Type: Amendments

#1136 fix(DTFS2-6009): Remove effective date validation for automatic amendments
  e2e-tests/e2e-fixtures/dateConstants.js
  e2e-tests/trade-finance-manager/cypress/integration/journeys/case/amendments/7. amendment-details-automatic-approval.spec.js
  trade-finance-manager-ui/server/controllers/case/amendments/validation/amendmentEffectiveDate.validate.js
Labels: Type: Bug, Type: Amendments

#1137 fix(DTFS2-6013): Two decimal point format - Facility Records
  azure-functions/acbs-function/mappings/facility/helpers/get-interest-or-fee-rate.js
Labels: Type: Bug, Type: ACBS

#1122 feat(DTFS2-5967): All facilities table shows amendment values and coverEndDates
  dtfs-central-api/src/v1/controllers/tfm/facility/tfm-get-facilities.controller.js
  e2e-tests/e2e-fixtures/dateConstants.js
  e2e-tests/trade-finance-manager/cypress/integration/journeys/case/amendments/7. amendment-details-automatic-approval.spec.js
  e2e-tests/trade-finance-manager/cypress/integration/journeys/case/amendments/add-underwriter-decision.spec.js
  e2e-tests/trade-finance-manager/cypress/integration/journeys/case/amendments/amendment-should-change-all-facilities-values.spec.js
  trade-finance-manager-api/src/graphql/resolvers/query-facilities.js
Labels: Type: Feature, Type: Amendments

#1139 chore(git-ignore): Added data migration directories
  utils/data-migration/.gitignore
Labels: Type: Chore

#1138 fix(ABCS-Bug): Payload initialisation and void check
  .github/workflows/pr_e2e_tests.yml
  trade-finance-manager-api/src/v1/controllers/acbs.controller.js
Labels: Type: Bug, Type: ACBS

#1143 fix(ACBS-Bugs): DAF Execution when obligatory
  azure-functions/acbs-function/acbs-amend-facility/index.js
Labels: Type: Bug, Type: ACBS

#1142 fix(DTFS2-5829): Match parties task non-conditional
  e2e-tests/submit-to-trade-finance-manager/cypress/integration/journeys/portal/submit-deal-with-issued-facilities/submit-deal-with-issued-facilities.spec.js
  e2e-tests/submit-to-trade-finance-manager/cypress/integration/journeys/portal/submit-deal-with-issued-facilities/test-data/dealReadyToSubmit.js
  e2e-tests/trade-finance-manager/cypress/integration/pages/caseDealPage.js
  trade-finance-manager-api/src/v1/controllers/deal.tasks.api-test.js
  trade-finance-manager-api/src/v1/controllers/deal.tasks.js
Labels: Type: Bug

#1151 fix(DTFS2-gitignore): Added sensitive directories
  utils/data-migration/.gitignore
Labels: Type: Chore, Type: Fix

#1144 fix(DTFS2-5938): TFM Premium Schedule - Facility currency
  trade-finance-manager-ui/templates/case/facility/_macros/premium_schedule.njk
Labels: Type: Bug, Type: Fix
